@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

#root{
    --color : rgb(30, 30, 71);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color);
}

.container{
    background-color: aliceblue;
    width: 70%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

button{
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--color);
    color: aliceblue;
    font-size: 1.1rem;
    width: 50%;
    transition: all .2s ease-in-out;
}

button:hover{
    color: var(--color);
    background-color: aliceblue;
    box-shadow: 0px 0px 10px var(--color);
}