@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.lower{
    background-color: #f6f7f9;
    padding: 20px 40px;
    border: 1px solid #ebecee ;
    border-radius:20px;
}

p,li{
    color: rgb(83, 83, 83);
}