.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#box{
    background-color: red;
    width: 20rem;
    height: 2rem;
    border-radius: 0.1rem;
    transition: ease-in-out 2s;
}

#box:hover{
    width: 50rem;
    transform: rotate(360deg);
    border-radius: 1rem;
}