/* :root{
    font-size: 24px;
} */
#em-1{
    border: 3px solid red;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 2em;
}
#em-2{
    padding: 20px;
    font-size: 2em;
}

#rem-1{
    border: 3px solid red;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 2rem;
}
#rem-2{
    padding: 20px;
    font-size: 2rem;
}